/* SG
# Components/Icons

Compatible with the following icon font libraries:

- Font Awesome 5

## Sizes

<span class="icon">
  <i class="fas fa-camera-retro"></i>
</span>

<span class="icon is-small">
  <i class="fas fa-camera-retro"></i>
</span>

<span class="icon is-medium">
  <i class="fas fa-camera-retro"></i>
</span>

<span class="icon is-large">
  <i class="fas fa-camera-retro"></i>
</span>

## Color variations

<span class="icon is-medium is-black">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-blue">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-green">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-grey--dark">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-grey--light">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-orange">
  <i class="fas fa-camera-retro"></i>
</span>
<span class="icon is-medium is-red">
  <i class="fas fa-camera-retro"></i>
</span>


*/

.icon
  --icon-size 1.5rem

  align-items center
  display inline-flex
  justify-content center
  width var(--icon-size)
  height var(--icon-size)

  svg
    width var(--icon-size) !important
    height var(--icon-size) !important
    display block
    color var(--background-color)

  &.is-small
    --icon-size 1rem

  &.is-medium
    --icon-size 2rem

  &.is-large
    --icon-size 3rem

  &.is-black
    --background-color #516173

  &.is-blue
    --background-color #36AF47

  &.is-green
    --background-color #1991EB

  &.is-grey--dark
    --background-color #C2CAD4

  &.is-grey--light
    --background-color #DFE1E5

  &.is-orange
    --background-color #F7981C

  &.is-red
    --background-color #ED1C24

