/* SG
# Components/labels

<div class='label'>
  No Style
</div>
<div class='label is-black'>
  Black
</div>
<div class='label is-blue'>
  Blue
</div>
<div class='label is-green'>
  Green
</div>
<div class='label is-grey--dark'>
  Grey dark
</div>
<div class='label is-grey--light'>
  Grey light
</div>
<div class='label is-orange'>
  Orange
</div>
<div class='label is-red'>
  Red
</div>
*/

.label
  --background-color #DFE1E5
  --text-color #354052
  background-color var(--background-color)
  border-radius 3px
  font-family SourceSansPro-Semibold
  font-size 10px
  line-height 13px
  color var(--text-color)
  padding 4px 10px
  display inline-block

  &.is-black
    --background-color #516173
    --text-color #fff

  &.is-blue
    --background-color #36AF47
    --text-color #fff

  &.is-green
    --background-color #1991EB
    --text-color #fff

  &.is-grey--dark
    --background-color #C2CAD4
    --text-color #fff

  &.is-grey--light
    --background-color #DFE1E5
    --text-color #354052

  &.is-orange
    --background-color #F7981C
    --text-color #fff

  &.is-red
    --background-color #ED1C24
    --text-color #fff




